name: Publish image to Docker Hub

on: [workflow_dispatch]

jobs:
  publish_images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push API image
        run: |
          docker build -t engcountio/devops-qr-code-api:latest ./api
          docker push engcountio/devops-qr-code-api:latest

      - name: Build and push Frontend image
        run: |
          docker build -t engcountio/devops-qr-code-frontend:latest ./front-end-nextjs
          docker push engcountio/devops-qr-code-frontend:latest

      - name: Logout from Docker Hub
        run: docker logout
